/* Table styles */
.tablerequestlog {
    background-color: #fff; /* White background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    width: 150%; /* Full width */
    border-collapse: collapse; /* Collapse border spacing */
    margin-left: -25%;
    height: 10%;
  }
  
  /* Table header styles */
  .tablerequestlog th {
    background-color: #104074; /* Primary color */
    color: #fff; /* White text color */
    padding: 10px;
  }
  
  /* Table body styles */
  .tablerequestlog td {
    padding: 10px;
  }
  
  /* Colorful table data */
  .tablerequestlog tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Light gray background for odd rows */
  }
  
  .tablerequestlog tbody tr:hover {
    background-color: #e3e3e3; /* Darker shade on hover */
  }

  /* Title styles */
.underline {
    text-align: center;
    text-decoration: underline;
  }
  
 
  
  .countdown {
    font-weight: bold;
  }
  
  .countdown.active {
    color: #08240f;
  }
  
  .countdown.danger {
    color: #dc3545;
  }
  
  .status {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .status.active {
    color: #28a745;
  }
  
  .status.danger {
    color: #dc3545;
  }